<h1>Kurse hinzufügen</h1>

<form action="/add" method="POST">

  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required />
    <label for="title">Kursname</label>
    <span class="helper-text" data-error="Kusnamen eingeben" ></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1"/>
    <label for="price">Preis</label>
    <span class="helper-text" data-error="Preis eingeben" ></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required/>
    <label for"img">URL des Bildes</label>
    <span class="helper-text" data-error="URL des Bildes eingeben" ></span>
  </div>

  <input type="hidden" name="_csrf" value="{{csrf}}" />

  <button class="btn btn-primery" >Kurs hinzufügen</button>

</form>